@tailwind base;
@tailwind components;
@tailwind utilities;

.overview {
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--logo-color-400) transparent;
}

.overview::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px;
  border-radius: 12px;
}

.overview::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
}

.overview::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: var(--logo-color-400);
  border-radius: 20px;
  border: 1px solid var(--bg);
}
